<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>我的订单-多抓鱼^3^</title>

    <meta name="description" content="多抓鱼^3^">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="stylesheet" href="../../static/css/normalize-and-boilerplate.css" />
    <link rel="stylesheet" href="../../static/css/font-awesome.css" />
    <link rel="stylesheet" href="../../static/css/flexslider.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />

    <script src="../../static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

<body>

   <!-- 导航栏 -->
    <!-- start: header -->
    <header class="header">
      <div class="row max-inner">

        <div class="columns col-5">
          <a href="index.html" title="多抓鱼" class="logo">多抓ζ°)))彡</a>
        </div>

        <div class="columns col-4">
          <a href="#" class="toggle-nav">
            <i class="fa fa-bars"></i> Menu
          </a>
{#          <nav class="main-nav">#}
{#            <ul>#}
{#              <li><a href="index.html">New collection</a></li>#}
{#              <li><a href="index.html">Catalog</a></li>#}
{#            </ul>#}
{#          </nav>#}
        </div>

        <div class="columns col-6">
          <ul class="header-controls">
            <li class="header-search">
              <a href="{{url_for('home.search')}}" class="reveal-search">
                <i class="fa fa-search"></i> Search
              </a>
              <div class="search-wrapper">
                <form class="search-form">
                    <input placeholder="Search..." type="text">
                </form>
              </div>
            </li>
            <li class="header-cart">
              <a href="{{url_for('home.shopping_cart')}}" title="view cart">
                <span class="fa fa-shopping-cart"></span>
                <span class="cart-count">My Cart</span>
              </a>
            </li>
            <li class="header-cart">
              <a href="{{url_for('home.order_list')}}" title="view order">
                <span class="fa fa-shopping-cart"></span>
                <span class="cart-count">My Order</span>
              </a>
            </li>
            <li class="header-actions">
              <a href="{{url_for('home.login')}}" title="Log in"><span class="fa fa-lock"></span> Log in</a>
            </li>
            <li class="header-actions">
              <a href="{{url_for('home.logout')}}" title="Log out"><span class="fa fa-lock"></span> Log out</a>
            </li>
          </ul>
        </div>

      </div>
    </header>
    <!-- end: header -->

    <!-- start: breadcrumbs -->
    <section class="row breadcrumbs max-inner">
      <div class="columns col-12">
        <ul class="breadcrumb-list">
          <li><a href="{{url_for('home.index')}}">Home</a></li>
          <li><a href="{{url_for('home.order_list')}}">Orders</a></li>
          <li>Order Detail</li>
        </ul>
      </div>
    </section>
    <!-- end: breadcrumbs -->

  <!-- start: main content -->
    <section class="main-content" style="width:100%">
      <div class="row max-inner" style="text-align: center">

        <div class="columns col-12" style="text-align: center">
        <!-- start: cart form -->
        <form action="{{url_for('home.order_add')}}">
          <table class="cart-table" cellspacing="0" style="margin: 0 auto">
            <thead>
              <tr>
                <th class="order-id">OrderID</th>
                <th class="product-thumbnail">Book</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
              </tr>
            </thead>
            <tbody>
            <!-- start: cart item -->
            {% for item in orders %}
            <tr class="cart-item" valign="middle">
              <td class="order-id" style="width: 100px" align="middle">
                {{item.order_id}}
              </td>
              <td class="product-thumbnail" style="width: 400px" align="middle">
                <a href="/books_detail/{{item.books.id}}"><img src="{{url_for('static',filename='image/home/'+item.books.image)}}" style="height: 200px; width: 150px"></a>
              </td>
              <td class="product-price" style="width: 15%">
                ${{item.books.current_price}}
              </td>
              <td class="product-quantity" style="width: 15%">
                {{item.quantity}}
              </td>
              <td class="product-total" style="width: 15%">
                ${{item.books.current_price*item.quantity}}
              </td>
            </tr>
            {% endfor %}
            <!-- end: cart item -->
            </tbody>
          </table>
{#          <!-- start: cart summary -->#}
          <!-- end: cart summary -->
        </form>

        <!-- end: cart form -->
        </div>


      </div>
    </section>
    <!-- end: main content -->

    <!-- start: footer -->
    <footer class="footer">
      <div class="row max-inner">

        <div class="columns col-2">
          <h3>Address</h3>
          <p>
            INDIGO LLC<br />
            <br />
            946 Park Ave<br />
            New York, NY 10021<br />
            <br />
            <a href="#">office@indigo.com</a><br />
            (445) 932 459 934<br />
          </p>
        </div>

        <div class="columns col-2">
          <h3>Customer Service</h3>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Money back guarantee</a></li>
            <li><a href="#">Help center</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Payment</a></li>
          </ul>
        </div>

        <div class="columns col-2">
          <h3>Account</h3>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>

        <div class="columns col-6">
          <h3>Follow us</h3>
          <div class="row">
            <form class="newsletter-form">
              <div class="columns col-8">
                <input placeholder="Enter your Email ..." type="text">
              </div>
              <div class="columns col-4">
                <input type="submit" value="Subscribe" class="submit">
              </div>
            </form>
          </div>
          <div class="row">
            <div class="columns col-12 social-links">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- end: footer -->


    <!-- start: copyright -->
    <section class="footer-copyright">
      <div class="row max-inner">
        <div class="columns col-7 col-centered">
          <p>Copyright 2014 Indigo. All rights reserved.</p>
        </div>
      </div>
    </section>
    <!-- end: copyright -->


    <script src="../../static/js/vendor/jquery-1.11.0.min.js"></script>

    <script src="../../static/js/plugins.js"></script>
    <script src="../../static/js/main.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>